.container {
  background-image: url(https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wJTIwc29mdHdhcmV8ZW58MHwwfDB8YmxhY2t8&auto=format&fit=crop&w=1500&q=60);
  /* https://gauravportfolio0083.netlify.app/images/bg.jpg */
  background-repeat: no-repeat;
  background-color: #111;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  /* padding-bottom: 15px; */
}
.title {
  padding-top: 250px;
  margin-left: 78px;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 30px;
  font-size: 35px;
  color: #fff;
}
.title > a > button {
  background-color: #92bcb5;
  border: 0px;
  padding: 13px 25px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  /* margin-bottom: 50px; */
}
.title > h2 {
  font-size: 35px;
  height: 60px;
  line-height: 50px;
  padding-right: 5px;
}

@media (min-width: 20px) and (max-width: 480px) {
  .title {
    /* margin-top: 140px; */
    margin-left: 39px;
    line-height: 30px;
    font-weight: 400;
    font-size: 25px;
    text-align: start;
  }
  .title > h2 {
    word-break: break-all;
    font-size: 32px;
    line-height: 50px;
    height: 100px;
  }

  .container {
    /* padding-bottom: 55px; */
  }
}

@media (min-width: 480px) and (max-width: 990px) {
  .title {
    margin-left: 65px;
    line-height: 40px;
    font-size: 30px;
  }
  .title > h2 {
    word-break: break-all;
    font-size: 40px;
    line-height: 50px;
    height: 110px;
  }

  .container {
    /* padding-bottom: 75px; */
  }
}
