.containers {
  font-family: "Source Code Pro", monospace;
  font-family: "Work Sans", sans-serif;
  height: auto;
  color: whitesmoke;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  background: linear-gradient(to bottom, #434343, #000000);
  margin-top: -40px;
  margin-bottom: 20px;
}

.about {
  font-family: "Source Code Pro", monospace;
  font-family: "Work Sans", sans-serif;
  color: whitesmoke;
  height: auto;
  min-height: 500px;
  width: 100%;
  background: #3c3b3f;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  background: linear-gradient(to bottom, #434343, #000000);
}

.titles > p {
  padding-top: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
  font-size: 2.5em;
  font-weight: 400;
  text-decoration: underline 2px;
  text-align: center;
  /* margin-bottom: 30px; */
  text-underline-offset: 12px;
}
.profiles {
  width: 86%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: space-between;
  gap: 30px;
  padding: 5px;
  padding-bottom: 40px;
}

.profiles > div {
  /* width: 95%; */
  cursor: pointer;
  /* margin: auto; */
  /* margin-right: 18px; */
  height: auto;
  background: rgb(10, 10, 10);
  color: whitesmoke;
  padding: 40px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 15px;
}

.profiles > div:hover {
  background-color: whitesmoke;
  transition: 0.8 ease-out;
  -webkit-transition: top 1s ease-out;
  -moz-transition: 0.8 ease-out;
  -ms-transition: 0.8 ease-out;
  -o-transition: 0.8 ease-out;
  color: black;
  background: #92bcb5;
}

.hoisting > button {
  font-size: 15px;
  padding: 4px 8px;
  cursor: pointer;
  border: 2px solid teal;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.hoisting > button > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.profiles > div > img {
  margin-top: 15px;
  width: 87%;
  height: 250px;
}

.hoisting {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 20px) and (max-width: 480px) {
  .containers {
    margin-top: -40px;
  }

  .profiles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
  }

  /* .titles>p{
      margin-top: 90px; 
       } */
}

@media (min-width: 480px) and (max-width: 990px) {
  .titles > p {
    margin-top: 90px;
  }
  .containers {
    margin-top: -90px;
  }

  .profiles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 35px;
  }
}

.profiles > div > p {
  text-align: center;
  /* padding: 0, 9px; */
  line-height: 28px;
  /* margin: 8px, 35px; */
  font-size: 20px;

  font-family: "Source Code Pro", monospace;
  font-family: "Work Sans", sans-serif;
}

.profiles > div > span {
  text-align: center;
  /* padding-right: 9px; */
  line-height: 28px;
  /* margin: 15px; */
  font-size: 17px;
}
